@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Lekton;
    src: url(../fonts/Lekton-Regular.ttf);
}
@font-face {
    font-family:brown;
    src: url(../fonts/brown-regular.ttf);
}

@font-face {
    font-family: Quantico;
    src: url(../fonts/Quantico-Regular.ttf);
}
